.logo{
    width: 160px;
}

#nav{
    background: linear-gradient(90deg, rgba(255, 255,255,1) 0%, rgba(248,193,19,1)100%);
    box-shadow: 2px 2px 2px 2px #cdcdcd;
}

#navbarNav ul li a {
    color: #000;
    font-weight: bold;
}

#navbarNav ul li a:hover{
    color: #fff;
    background: #000;
    transition: 0.8s;
}

